.container_aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: #e5e5e5;
  margin-top: 100px;
  max-width: 100%;
  min-height: 300px;
  position: relative;
}

.aboutMe {
  text-align: center;
  width: 100%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.aboutMe.fading {
  opacity: 0;
}

.aboutMe_title {
  margin-bottom: 15px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  font-size: clamp(18px, 4vw, 21.03px);
  color: rgb(71, 60, 60);
  padding-top: 30px;
}

.aboutMe_parrafo {
  padding: 0 10px;
  font-size: 16px;
  line-height: 1.6;
  width: 90%;
  margin: 0 auto;
  height: 250px;
}

.aboutMe_buttons {
  position: absolute;
  bottom: 80px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
}

.aboutMe_buttons button {
  background-color: #4a0675;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.aboutMe_buttons button:hover {
  background-color: #2f054b;
}

@media (max-width: 600px) {
  .container_aboutMe {
    min-height: 450px;
  }

  .aboutMe_buttons {
    gap: 10px;
    bottom: 20px;
  }
}
