.carousel-container {
  width: 100vw;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 1000px;
  margin-top: 1000px;
}

.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.slick-list {
  overflow: hidden;
}

.slick-slide img {
  width: 100%;
  height: auto;
  max-height: 70vh;
  object-fit: cover;
  border-radius: 8px;
}

.slick-track {
  padding-top: 55px;
}

.slick-dots {
  margin-bottom: 18px;
}

@media (max-width: 768px) {
  .slick-slide img {
    max-height: 50vh;
  }
  .slick-dots {
    bottom: -25px;
  }
}

@media (max-width: 480px) {
  .slick-slide img {
    max-height: 40vh;
  }
}
