.container_navbar {
  height: 55px;
  width: 100%;
  color: white;
  display: flex;
  margin: 0 auto;
  /* background-color: rgb(18, 54, 212); */
  /* background-size: cover;
  object-fit: cover; */
  position: fixed;
  z-index: 5;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #4a0675;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  top: 0;
}

.menu {
  display: block;
  cursor: pointer;
  top: 30px;
  right: 20px;
  z-index: 5;
  position: fixed;
}

.menu:hover {
  color: #fff;
}

.active {
  transform: translateY(0px);
  transition: all ease 0.3s;
}

.barra {
  width: 35px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  display: none;
}

.activo .barra:nth-child(1) {
  transform: rotate(-45deg) translate(-4px, 4px);
}

.activo .barra:nth-child(2) {
  opacity: 0;
  transform: translateX(-25px);
}

.activo .barra:nth-child(3) {
  transform: rotate(45deg) translate(-7px, -7px);
}

.navbar_link1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  list-style: none;
  margin: 0 auto;
  gap: 10px;
  transition: all ease 0.3s;
}

.navbar_link2 {
  justify-content: start;
  font-size: 20px;
  position: fixed;
  right: -1px;
  top: 87px;
  display: none;
  background-color: #4a0675;
  box-shadow: -10px 0 15px rgba(0, 0, 0, 0.2);
  transform: translateX(100vw);
  transition: all ease 0.5s;
  height: 100%;
  width: 35%;
  z-index: 4;
  list-style: none;
  padding: 1rem 2rem;
}

.li_1 {
  padding: 10px;
  position: absolute;
  top: 0px;
  left: 10px;
}
.li_2 {
  padding: 10px;
  position: absolute;
  top: 50px;
  left: 10px;
}
.li_3 {
  padding: 10px;
  position: absolute;
  top: 100px;
  left: 10px;
}
.li_5 {
  padding: 10px;
  position: absolute;
  top: 150px;
  left: 10px;
}
.link_a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 5px;
  transition: background 300ms ease, color 300ms ease;
}

.link_a:hover {
  color: #fff;
}

@media (max-width: 500px) {
  .active {
    transform: translateY(0px);
    transition: all ease 0.3s;
  }
  .barra {
    display: flex;
  }

  .navbar_link1 {
    display: none;
  }

  .navbar_link2 {
    display: flex;
  }
}
